# Data Wrangling

Reshaping and Merging Data

We are going to grouping and merging the data in this example

In [36]:
# Using Jan 13 LDMS dataset
import pandas as pd

In [37]:
meminfo = pd.read_csv('../data/meminfo.csv')
procstat = pd.read_csv('../data/procstat.csv')

In [38]:
meminfo.head()

,#Time,Time_usec,ProducerName,component_id,job_id,app_id,MemTotal,MemFree,MemAvailable,Buffers,...,CmaTotal,CmaFree,HugePages_Total,HugePages_Free,HugePages_Rsvd,HugePages_Surp,Hugepagesize,DirectMap4k,DirectMap2M,DirectMap1G
0,1.641964e+09,55500,0,0,0,0,97387748,79544608,86132372,152196,...,0,0,0,0,0,0,2048,439668,10711040,90177536
1,1.641964e+09,57820,1,0,0,0,97385144,62884956,93174040,3720,...,0,0,0,0,0,0,2048,539016,9564160,91226112
2,1.641964e+09,57543,2,0,0,0,97385124,51056152,93191264,3436,...,0,0,0,0,0,0,2048,522612,8531968,92274688
3,1.641964e+09,51794,3,0,0,0,3878020,3200976,3407316,2088,...,0,0,0,0,0,0,2048,106340,3039232,3145728
4,1.641964e+09,51654,4,0,0,0,1813712,97932,1047516,2068,...,0,0,0,0,0,0,2048,79716,2017280,0

In [39]:
procstat.head()

,#Time,Time_usec,ProducerName,component_id,job_id,app_id,cores_up,cpu_enabled,user,nice,...,per_core_guest_nice38,per_core_guest_nice39,per_core_guest_nice40,per_core_guest_nice41,per_core_guest_nice42,per_core_guest_nice43,per_core_guest_nice44,per_core_guest_nice45,per_core_guest_nice46,per_core_guest_nice47
0,1.641964e+09,58495,1,0,0,0,48,1,118692269,1978,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1.641964e+09,58217,2,0,0,0,48,1,103563084,1969,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1.641964e+09,51531,3,0,0,0,4,1,371263,596,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1.641964e+09,51355,4,0,0,0,1,1,782507,1437,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1.641964e+09,52149,5,0,0,0,2,1,916795,616,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [40]:
meminfo.shape

(8580, 53)

In [41]:
procstat.shape

(8580, 552)

In [42]:
procstat.nunique()

#Time                    8576
Time_usec                3990
ProducerName                6
component_id                1
job_id                      1
                         ...
per_core_guest_nice43       1
per_core_guest_nice44       1
per_core_guest_nice45       1
per_core_guest_nice46       1
per_core_guest_nice47       1
Length: 552, dtype: int64

In [43]:
# Remove the column which has only one distinct element

procstat=procstat.loc[:,procstat.nunique()!=1]
procstat.nunique()

#Time                  8576
Time_usec              3990
ProducerName              6
cores_up                  5
user                   8580
                       ...
per_core_softirqd43       2
per_core_softirqd44     507
per_core_softirqd45       2
per_core_softirqd46     437
per_core_softirqd47       2
Length: 352, dtype: int64

In [44]:
procstat['ProducerName'].unique()

array([1, 2, 3, 4, 5, 0])

In [45]:
procstat_grouped = procstat.groupby('ProducerName')

In [46]:
procstat_0 = procstat_grouped.get_group(0)
procstat_1 = procstat_grouped.get_group(1)
procstat_2 = procstat_grouped.get_group(2)
procstat_3 = procstat_grouped.get_group(3)
procstat_4 = procstat_grouped.get_group(4)
procstat_5 = procstat_grouped.get_group(5)

In [47]:
procstat_0.head()

,#Time,Time_usec,ProducerName,cores_up,user,nice,sys,idle,iowait,softirq,...,per_core_softirqd38,per_core_softirqd39,per_core_softirqd40,per_core_softirqd41,per_core_softirqd42,per_core_softirqd43,per_core_softirqd44,per_core_softirqd45,per_core_softirqd46,per_core_softirqd47
5,1.641964e+09,53662,0,24,461727081,2427,311229566,52354227097,14751475,10447187,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,1.641964e+09,53370,0,24,461739102,2427,311233208,52354355196,14751476,10447262,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,1.641964e+09,53459,0,24,461751570,2427,311236960,52354482728,14751477,10447335,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,1.641964e+09,54178,0,24,461764502,2427,311241112,52354609149,14751477,10447605,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,1.641964e+09,52267,0,24,461776683,2427,311244780,52354737059,14751478,10447684,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [48]:
procstat_0.nunique()

#Time                  1430
Time_usec              1059
ProducerName              1
cores_up                  1
user                   1430
                       ...
per_core_softirqd43       0
per_core_softirqd44       0
per_core_softirqd45       0
per_core_softirqd46       0
per_core_softirqd47       0
Length: 352, dtype: int64

In [49]:
# Remove the column which has only one distinct element

procstat_0=procstat_0.loc[:,procstat_0.nunique()>1]
procstat_1=procstat_1.loc[:,procstat_1.nunique()>1]
procstat_2=procstat_2.loc[:,procstat_2.nunique()>1]
procstat_3=procstat_3.loc[:,procstat_3.nunique()>1]
procstat_4=procstat_4.loc[:,procstat_4.nunique()>1]
procstat_5=procstat_5.loc[:,procstat_5.nunique()>1]
procstat_0.nunique()

#Time             1430
Time_usec         1059
user              1430
nice                 2
sys               1430
                  ...
per_core_sys42     293
per_core_sys43       2
per_core_sys44       9
per_core_sys46       4
per_core_sys47       2
Length: 137, dtype: int64

In [50]:
procstat_1.nunique()

#Time                  1430
Time_usec              1109
user                   1430
nice                      2
sys                    1430
                       ...
per_core_softirqd40     235
per_core_softirqd41       2
per_core_softirqd42     220
per_core_softirqd44     264
per_core_softirqd46     209
Length: 253, dtype: int64

In [51]:
meminfo_grouped = meminfo.groupby('ProducerName')

In [52]:
meminfo_0 = meminfo_grouped.get_group(0)

meminfo_1 = meminfo_grouped.get_group(1)
meminfo_2 = meminfo_grouped.get_group(2)
meminfo_3 = meminfo_grouped.get_group(3)
meminfo_4 = meminfo_grouped.get_group(4)
meminfo_5 = meminfo_grouped.get_group(5)

In [53]:
meminfo_0.head()

,#Time,Time_usec,ProducerName,component_id,job_id,app_id,MemTotal,MemFree,MemAvailable,Buffers,...,CmaTotal,CmaFree,HugePages_Total,HugePages_Free,HugePages_Rsvd,HugePages_Surp,Hugepagesize,DirectMap4k,DirectMap2M,DirectMap1G
0,1.641964e+09,55500,0,0,0,0,97387748,79544608,86132372,152196,...,0,0,0,0,0,0,2048,439668,10711040,90177536
6,1.641964e+09,55236,0,0,0,0,97387748,79766084,86353720,152272,...,0,0,0,0,0,0,2048,439668,10711040,90177536
13,1.641964e+09,55266,0,0,0,0,97387748,79314916,85902732,152352,...,0,0,0,0,0,0,2048,439668,10711040,90177536
18,1.641964e+09,55842,0,0,0,0,97387748,79892260,86480496,152428,...,0,0,0,0,0,0,2048,439668,10711040,90177536
24,1.641964e+09,54033,0,0,0,0,97387748,79380432,85969104,152480,...,0,0,0,0,0,0,2048,439668,10711040,90177536

In [54]:
# Remove the column which has only one distinct element

meminfo_0=meminfo_0.loc[:,meminfo_0.nunique()>1]
meminfo_1=meminfo_1.loc[:,meminfo_1.nunique()>1]
meminfo_2=meminfo_2.loc[:,meminfo_2.nunique()>1]
meminfo_3=meminfo_3.loc[:,meminfo_3.nunique()>1]
meminfo_4=meminfo_4.loc[:,meminfo_4.nunique()>1]
meminfo_5=meminfo_5.loc[:,meminfo_5.nunique()>1]
meminfo_0.nunique()
meminfo_0.to_pickle('../data/meminfo_0.pkl')

In [55]:
meminfo_0.shape

(1430, 26)

In [56]:
procstat_0.shape

(1430, 137)

In [57]:
meminfo_0.head()

,#Time,Time_usec,MemFree,MemAvailable,Buffers,Cached,SwapCached,Active,Inactive,Active(anon),...,AnonPages,Mapped,Shmem,Slab,SReclaimable,SUnreclaim,KernelStack,PageTables,Committed_AS,AnonHugePages
0,1.641964e+09,55500,79544608,86132372,152196,6772456,8700,7562156,6570644,7209344,...,7203464,54900,14456,390284,235032,155252,14016,110344,13475132,4388864
6,1.641964e+09,55236,79766084,86353720,152272,6772348,8724,7354728,6570616,7001892,...,6994992,54776,14464,387976,234940,153036,13680,100460,12919044,4392960
13,1.641964e+09,55266,79314916,85902732,152352,6772524,8724,7781340,6570828,7428472,...,7421696,54780,14464,392884,234876,158008,14336,118052,13973264,4397056
18,1.641964e+09,55842,79892260,86480496,152428,6772340,8724,7232244,6570704,6879344,...,6873052,55828,14464,389220,235388,153832,13680,92676,12504680,4392960
24,1.641964e+09,54033,79380432,85969104,152480,6772472,8724,7723932,6570824,7370976,...,7364144,54968,14464,391112,235648,155464,13984,112608,13713404,4397056

In [58]:
meminfo_1.head()

,#Time,Time_usec,MemFree,MemAvailable,Buffers,Cached,SwapCached,Active,Inactive,Active(anon),...,AnonPages,Mapped,Shmem,Slab,SReclaimable,SUnreclaim,KernelStack,PageTables,Committed_AS,AnonHugePages
1,1.641964e+09,57820,62884956,93174040,3720,30446260,5800,19891516,10708852,45592,...,146612,73104,236980,815880,633532,182348,14256,8376,1377884,73728
7,1.641964e+09,58405,62838040,93174380,4116,30493024,5800,19888208,10755928,42232,...,142736,73120,236980,816012,633660,182352,14272,8376,1378128,73728
12,1.641964e+09,57610,62782688,93177052,4132,30550880,5800,19888196,10813816,42220,...,143928,73124,236980,815916,633788,182128,14272,8376,1378116,73728
20,1.641964e+09,58151,62741112,93175116,4132,30590448,5800,24138176,6605560,44360,...,144852,73124,236980,815948,633852,182096,14272,8376,1377924,73728
25,1.641964e+09,56903,62739412,93173416,4132,30590448,5800,24137784,6605500,43908,...,145484,73124,236980,815948,633852,182096,14272,8376,1377928,73728

In [59]:
pd.merge(meminfo_0, meminfo_1, on='#Time')

,#Time,Time_usec_x,MemFree_x,MemAvailable_x,Buffers_x,Cached_x,SwapCached_x,Active_x,Inactive_x,Active(anon)_x,...,AnonPages_y,Mapped_y,Shmem_y,Slab_y,SReclaimable_y,SUnreclaim_y,KernelStack_y,PageTables_y,Committed_AS_y,AnonHugePages_y
0,1.642047e+09,55484,82024480,88695828,206756,6795584,9004,4918204,6619912,4536520,...,107960,68304,228280,311224,134932,176292,14208,7188,1324032,61440

In [60]:
from datetime import datetime
ts = 1641963660.05743

# if you encounter a "year is out of range" error the timestamp
# may be in milliseconds, try `ts /= 1000` in that case
print(datetime.utcfromtimestamp(ts).strftime('%Y-%m-%d %H:%M:%S:%f'))

2022-01-12 05:01:00:057430

In [61]:
import pandas as pd
pd.Timestamp.utcfromtimestamp(1641963660.05743)

Timestamp('2022-01-12 05:01:00.057430')

In [62]:
pd.to_datetime(meminfo_0['#Time'],unit='s')

0      2022-01-12 05:01:00.055500032
6      2022-01-12 05:02:00.055236096
13     2022-01-12 05:03:00.055265792
18     2022-01-12 05:04:00.055842048
24     2022-01-12 05:05:00.054033152
                    ...
8550   2022-01-13 04:56:00.054665216
8556   2022-01-13 04:57:00.054321152
8562   2022-01-13 04:58:00.055902976
8569   2022-01-13 04:59:00.055985920
8574   2022-01-13 05:00:00.055394048
Name: #Time, Length: 1430, dtype: datetime64[ns]

In [63]:
# Example 4. Load the georgia-history.csv data and groupby Writeback column

In [66]:
meminfo_group = meminfo_0.groupby('Writeback')

In [70]:
meminfo_0['Writeback'].nunique()

2

In [68]:
meminfo_group['Writeback'].get_group(0)

0       0
6       0
13      0
18      0
24      0
       ..
8550    0
8556    0
8562    0
8569    0
8574    0
Name: Writeback, Length: 1429, dtype: int64

In [72]:
meminfo_group['Writeback'].get_group(72)

6432    72
Name: Writeback, dtype: int64